Repository TylerMetz/Saucier720, pull requests merged in 2023-02, with the labels that each got.

#75 #57 Wire frame
  FrontendDocumentation/Angular/AngularCLI.md
  FrontendDocumentation/Angular/Setting Up Boiler Plate.md
  FrontendDocumentation/Sancier720.pdf
Labels: documentation, Frontend

#74 Feb 1 Class
  ClassNotes/2-1-2023.md
Labels: Resource

#26 Class130
  ClassNotes/1-30-23.md
Labels: Resource

#76 #56 Wireframe Rough Draft
  Saucier720-app/src/app/pantry/pantry.component.html
  Saucier720-app/src/app/pantry/pantry.component.scss
Labels: Tyler, Eddie, Frontend, Sprint 1

#68 #56 #58 Creating Basic Angular Page
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/pull_request_template.md
  ClassNotes/1-25-23ClassNotes.md
  FrontendDocumentation/Angular/AngularCLI.md
  FrontendDocumentation/Angular/Setting Up Boiler Plate.md
  FrontendDocumentation/Saucier720.pdf
  MeetingNotes/1_18_23_Meeting.pdf
  MeetingNotes/1_25_23_Meeting.docx
  MeetingNotes/1_25_23_Meeting.pdf
  MeetingNotes/2_1_23_Meeting.pdf
  Saucier720-app/.editorconfig
  Saucier720-app/.gitignore
  Saucier720-app/.vscode/extensions.json
  Saucier720-app/.vscode/launch.json
  Saucier720-app/.vscode/tasks.json
  Saucier720-app/README.md
  Saucier720-app/angular.json
  Saucier720-app/package-lock.json
  Saucier720-app/package.json
  Saucier720-app/src/app/app.component.html
  Saucier720-app/src/app/app.component.scss
  Saucier720-app/src/app/app.component.spec.ts
  Saucier720-app/src/app/app.component.ts
  Saucier720-app/src/app/app.module.ts
  Saucier720-app/src/app/core/interfaces/ingredient.ts
  Saucier720-app/src/app/core/services/ingredient.service.spec.ts
  Saucier720-app/src/app/core/services/ingredient.service.ts
  Saucier720-app/src/app/mocks/ingredients.mock.ts
  Saucier720-app/src/app/pantry/pantry.component.html
  Saucier720-app/src/app/pantry/pantry.component.scss
  Saucier720-app/src/app/pantry/pantry.component.spec.ts
  Saucier720-app/src/app/pantry/pantry.component.ts
  Saucier720-app/src/assets/.gitkeep
  Saucier720-app/src/favicon.ico
  Saucier720-app/src/index.html
  Saucier720-app/src/main.ts
  Saucier720-app/src/styles.scss
  Saucier720-app/tsconfig.app.json
  Saucier720-app/tsconfig.json
  Saucier720-app/tsconfig.spec.json
Labels: Frontend

#88 Merging all Sprint 1 Backend Work
  .gitignore
  BackendPkg/FoodItem.go
  BackendPkg/GroceryStore.go
  BackendPkg/Ingredient.go
  BackendPkg/Pantry.go
  BackendPkg/Recipe.go
  go.mod
  main.go
Labels: Backend, Sprint 1

#121 Html Client
  Saucier720-app/src/app/app-routing.module.ts
  Saucier720-app/src/app/app.component.html
  Saucier720-app/src/app/app.component.ts
  Saucier720-app/src/app/core/interfaces/ingredient.ts
  Saucier720-app/src/app/core/services/http.service.ts
  Saucier720-app/src/app/core/services/pantry/pantry.service.ts
  Saucier720-app/src/app/deals/deals.component.html
  Saucier720-app/src/app/list/list.component.html
  Saucier720-app/src/app/mocks/ingredients.mock.ts
  Saucier720-app/src/app/pantry/pantry.component.html
  Saucier720-app/src/app/pantry/pantry.component.ts
  Saucier720-app/src/app/recipes/recipes.component.html
  Saucier720-app/src/app/testing/app.component.spec.cy.ts
  Saucier720-app/src/app/testing/http.service.spec.cy.ts
  Saucier720-app/src/app/testing/ingredient.service.spec.cy.ts
  Saucier720-app/src/app/testing/pantry/pantry.component.spec.cy.ts
  Saucier720-app/src/app/testing/pantry/pantry.service.spec.cy.ts
  deploy.sh
Labels: Frontend, Sprint 2

#114 Setting up Cypress Tests
  FrontendDocumentation/Angular/Testing/Cypress.md
  Saucier720-app/cypress.config.ts
  Saucier720-app/cypress.sh
  Saucier720-app/cypress/support/e2e.ts
  Saucier720-app/src/app/testing/app.component.spec.cy.ts
  Saucier720-app/src/app/testing/deals.component.spec.cy.ts
  Saucier720-app/src/app/testing/list.component.spec.cy.ts
  Saucier720-app/src/app/testing/pantry/pantry.component.spec.cy.ts
  Saucier720-app/src/app/testing/recipes.component.spec.cy.ts
  cypress.sh
Labels: Tyler, Frontend, Sprint 2
